.padding-right-min{padding-right:15px;}
.padding-left-min{padding-left:15px;}
.padding-top-min{padding-top:15px;}
.padding-bottom-min{padding-bottom:15px;}
.padding-min{padding:15px;}

.no-margin{margin:0px;}
.no-margin-bottom{margin-bottom:0px;}
.margin-top-default{margin-top:20px;}

.autoHeight{height:auto;}
.container{width:992px !important;}
